
body {
  overflow-x: hidden; /* Evita desbordamiento horizontal en toda la página */
  margin: 0; /* Asegura que no haya márgenes alrededor del body */
}
/* Estilos para la barra de navegación superior */
.navbar {
    position: flex;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 0px; /* Ajusta la altura de la barra de navegación según tus necesidadess */
    background-color: #ffffff;
    z-index: 100;
    font-family: 'Montserrat', sans-serif !important;
}
/* Estilos para el logo */
.logo {
    max-height: 160px;
    margin-right: 10px;
    margin-left: -90px;
    transition: transform 0.3s ease;
}

.logo:hover {
  transform: rotate(360deg);;
}

.navbarSearch {
    flex: 1; /* Ocupa todo el espacio disponible */
    max-width: 400px; /* Establece un ancho máximo */
    display: flex;
    align-items: center;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* Estilos para el campo de búsqueda */
.navbarSearch input[type="text"] {
    all: unset;
    flex: 1;
    padding: 8px;
}
.navbarButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff; /* Color de fondo transparente del botón de carrito */
  border: none;
  border-radius: 4px;
  padding: 8px 12px; /* Espaciado interior del botón */
  color: #aa00ff; /* Color del texto del botón */
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* Estilo específico para el botón de carrito */
.navbarButton.cart {
  margin-right: 10px; /* Márgenes para separar los botones */
}




.botones {
  text-decoration: none;
  --color: #aa00ff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 2em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 20px;
  font-size: 16px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
  left: 7%;
  margin-top: 60px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.botones::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 500px;
  height: 400px;
  z-index: -1;
  border-radius: 20%;
}

.botones:hover {
  color: white;
}

.botones:before {
  top: 100%;
  left: 100%;
  transition: .3s all;
}

.botones:hover::before {
  top: -30px;
  left: -30px;
}
.nav{
  text-decoration: none;
}

/* Estilo específico para el botón de inicio de sesión */
.navbarButton.login {
  background-color: #aa00ff; /* Color de fondo violeta para el botón de inicio de sesión */
  color: white; /* Color del texto del botón de inicio de sesión */
  font-size: 21px; /* Tamaño del texto del botón de inicio de sesión */
  margin-right: 10px; /* Márgenes para separar el botón de inicio de sesión del carrito */
}

/* Estilos de los iconos dentro de los botones */
.navbarButton i {
  margin-right: 15px; /* Espaciado entre el ícono y el texto del botón */
  margin-left: 10px;
}

/* Animación al hacer clic */
.navbarButton:active {
  transform: translateY(5px); /* Mueve el botón hacia abajo 1px al hacer clic */
  transition: transform 0.3s ease; /* Transición para la animación */
}
/* Estilos para el ícono de lupa */
.navbarSearch .search-icon {
  background: none;
  border: none;
  font-size: 18px;
  color: #777;
  cursor: pointer;
}

/* Estilo para el ícono de lupa cuando se busca algo */
.navbarSearch .search-icon.active {
  transform: rotate(90deg);
}

/* Estilos para el logo */
.logo {
  max-height: 100px; /* Reduce la altura máxima del logo */
  margin-right: 10px;
  margin-left: -70px; /* Ajusta el margen izquierdo para evitar que oculte la barra de navegación principal */
}

/* Estilos para la barra de navegación principal */
.mainNav {
  background-color: #aa00ff;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 17px;
  font-weight: 460;
  z-index: 10; /* Asegura que la barra de navegación esté por encima del carrusel */
  margin-top: 50px;
}
/* Estilos para la lista de la barra de navegación */
.mainNav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Estilos para los elementos de la barra de navegación */
.mainNav li {
  margin-right: 30px;
}

/* Estilos para los enlaces de la barra de navegación */
.mainNav a {
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
}

/* Estilos para los enlaces de la barra de navegación al pasar el mouse por encima */
.mainNav a:hover {
  color: #ffffff;
}

