/* Importa la fuente Montserrat desde Google Fonts o cualquier otra fuente que desees utilizar */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  overflow-x: hidden; /* Evita desbordamiento horizontal en toda la página */
  margin: 0; /* Asegura que no haya márgenes alrededor del body */
}

/* Estilos para la barra de navegación superior */
.navbar {
  position: flex;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 0px; /* Ajusta la altura de la barra de navegación según tus necesidades */
  background-color: #ffffff;
  z-index: 100;
  font-family: 'Montserrat', sans-serif !important;
}

/* Estilos para el logo */
.logo {
  max-height: 160px;
  margin-right: 10px;
  margin-left: -90px;
}

.navbar-search {
  flex: 1; /* Ocupa todo el espacio disponible */
  max-width: 400px; /* Establece un ancho máximo */
  display: flex;
  align-items: center;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para el campo de búsqueda */
.navbar-search input[type="text"] {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
}



.navbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff; /* Color de fondo transparente del botón de carrito */
  border: none;
  border-radius: 4px;
  padding: 8px 12px; /* Espaciado interior del botón */
  color: #aa00ff; /* Color del texto del botón */
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* Estilo específico para el botón de carrito */
.navbar-button.cart {
  margin-right: 10px; /* Márgenes para separar los botones */
}

/* Estilo específico para el botón de inicio de sesión */
.navbar-button.login {
  background-color: #aa00ff; /* Color de fondo violeta para el botón de inicio de sesión */
  color: white; /* Color del texto del botón de inicio de sesión */
  font-size: 21px; /* Tamaño del texto del botón de inicio de sesión */
  margin-right: 10px; /* Márgenes para separar el botón de inicio de sesión del carrito */
}

/* Estilos de los iconos dentro de los botones */
.navbar-button i {
  margin-right: 15px; /* Espaciado entre el ícono y el texto del botón */
  margin-left: 10px;
}

/* Animación al hacer clic */
.navbar-button:active {
  transform: translateY(5px); /* Mueve el botón hacia abajo 1px al hacer clic */
  transition: transform 0.3s ease; /* Transición para la animación */
}
/* Estilos para el ícono de lupa */
.navbar-search .search-icon {
  background: none;
  border: none;
  font-size: 18px;
  color: #777;
  cursor: pointer;
}

/* Estilo para el ícono de lupa cuando se busca algo */
.navbar-search .search-icon.active {
  transform: rotate(90deg);
}

/* Estilos para el logo */
.logo {
  max-height: 100px; /* Reduce la altura máxima del logo */
  margin-right: 10px;
  margin-left: -70px; /* Ajusta el margen izquierdo para evitar que oculte la barra de navegación principal */
}

/* Estilos para la barra de navegación principal */
.main-nav {
  background-color: #aa00ff;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 17px;
  font-weight: 460;
  z-index: 10; /* Asegura que la barra de navegación esté por encima del carrusel */
  margin-top: 50px;
}

/* Estilos para la lista de la barra de navegación */
.main-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Estilos para los elementos de la barra de navegación */
.main-nav li {
  margin-right: 30px;
}

/* Estilos para los enlaces de la barra de navegación */
.main-nav a {
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
}

/* Estilos para los enlaces de la barra de navegación al pasar el mouse por encima */
.main-nav a:hover {
  color: #ffffff;
}

/* Estilos para el contenedor del contenido */
.content {
  margin-top: 100px;
  margin-bottom: 100px; /* Agrega espacio entre el contenido y el footer */
}

.content h2 {
  font-size: 20px;
  text-align: center;
  margin-left: -1170px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif !important;
  color: #494949;
}

.divider {
  width: 700%;
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

/* Estilos para el contenedor de las cards */
.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%; /* Agregado para asegurar que los elementos no excedan el ancho */
}

/* Estilos para cada card */
.card {
  width: 250px;
  margin: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

/* Estilos para la imagen dentro de cada card */
.card img {
  width: 100%;
  height: auto;
}

/* Estilos para el título dentro de cada card */
.card h3 {
  font-size: 17px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 390;
}

/* Estilos para la descripción dentro de cada card */
.card p {
  font-size: 16px;
  margin-top: 5px;
}

/* Estilos para el carrusel */
.carousel-container {
  margin-top: 0px; /* Ajusta el espacio entre el carrusel y la barra de navegación principal */
  margin-bottom: 60px; /* Ajusta el espacio entre el carrusel y el footer */
  width: 100%;
}

/* Estilos para los slides del carrusel */
.slick-slide img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

/* Estilos del botón */
.contact-button {
  background-color: #aa00ff;
  color: #ffffff;
  padding: 5px 10px;
  border: 2px solid #ffffff; /* Añadimos un borde de 2px del mismo color del botón */
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.contact-button:hover {
  background-color: #ffffff;
  color: #aa00ff;
}

/* Estilos para el footer */
.footer {
  position: relative;
  bottom: -100px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: #aa00ff;
  font-family: 'Montserrat', sans-serif !important;
  z-index: 100;
  margin: 0;
}

.footer p {
  color: #fff;
  margin: 10px;
}

